/*------------------------------------------------------------
// Room
//
//----------------------------------------------------------*/
.room {
  display: flex;
  margin: 120px auto 0;
  width: 70vw;
  position: relative;
  z-index: 10;
}

.overlay {
  background: rgb(36, 41, 46, 0.95);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.now-playing {
  flex: 2;
}

.empty-room {
  margin: 200px auto;
  max-width: 420px;
  text-align: center;
}

.empty-room-message {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  color: #24292e;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .015em;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 20px;
}

.remove-room {
  color: #E65281;
  cursor: pointer;
  font-size: 12px;
  position: relative;
  z-index: 1;
}
