a {
  color: rgba(66, 185, 131, 0.8);
}

ul {
  border-bottom: 1px solid rgba(255,255,255,0.08);
  border-top: 1px solid rgba(255,255,255,0.08);
  list-style-type: none;
  padding: 0;
}

.meta {
  color: rgba(255,255,255,0.3);
  font-size: 11px;
  margin-top: 10px;
  text-transform: uppercase;
  padding-right: 10px;
  text-align: right;
}

.bullet {
  font-size: 40px;
  line-height: 0;
}

.artist {
  color: rgba(255, 255, 255, 0.80);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.song {
  font-size: 12px;
}

.duration {
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
}

.queue {
  max-height: 400px;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.track {
  color: rgba(255, 255, 255, 0.5);
  align-items: center;
  display: flex;
  padding: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,0.08);
  }
}

.content {
  flex: 1;
  margin-left: 10px;
}

.history .content,
.history .gravatar,
.history .duration {
  opacity: 0.3;
}

.empty-queue {
  background-color: rgba(255,255,255,0.85);
  border-radius: 5px;
  color: #24292e;
  font-size: 14px;
  letter-spacing: .015em;
  line-height: 1.5;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}